<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Liste des produits</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="container">
			<center>
				<div>
					<div th:if="${amountDeposit}">Vous avez versé:</div>
					<div th:if="${amountDeposit}" th:text="${amountDeposit}"></div>

					<div th:if="${montantWithdrawal}">Vous avez retiré:</div>
					<div th:if="${montantWithdrawal}" th:text="${montantWithdrawal}"></div>

					<div th:if="${exceptionDeposit}" class="text-danger"
						th:text="${message}"></div>
					<a th:if="${exceptionDeposit}" th:href="@{DepositView(id=${id})}"
						class="btn btn-primary absolute" role="button">Refaire le
						versement</a>

					<div th:if="${exceptionWithdrawal}" class="text-danger"
						th:text="${message}"></div>
					<a th:if="${exceptionWithdrawal}" th:href="@{/WithdrawalView(id=${id})}"
						class="btn btn-primary absolute" role="button">Refaire le
						retrait</a> <a th:href="@{index(id=${id})}"
						class="btn btn-primary absolute" role="button">Votre solde</a>
				</div>
			</center>




		</div>
</body>
</html>